<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Test_Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ReportingService2010Soap"/>
				<binding name="ReportExecutionServiceSoap"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://win-bqugakuf90e:80/ReportServer_EXPRESS2012/ReportExecution2005.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="ReportExecution2005.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap"/>
			<endpoint address="http://win-bqugakuf90e:80/ReportServer_EXPRESS2012/ReportService2010.asmx" binding="basicHttpBinding" bindingConfiguration="ReportingService2010Soap" contract="ReportingService2010.ReportingService2010Soap" name="ReportingService2010Soap"/>
		</client>
	</system.serviceModel>
	<startup/></configuration>
